@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-container,
.login-parent,
.create-switch,
.login-form,
form {
  display: flex;
  font-family: 'Outfit', sans-serif;
}

.login-parent {
  flex-direction: row;
}
form,
.login-form {
  width: 100%;
  align-items: center;
}

.create-switch a {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}

.create-switch a:visited {
  text-decoration: none;
}

.username,
.password {
  width: 50%;
}

.username {
  padding-bottom: 70px;
}

.password {
  padding-bottom: 200px;
}

.login-button-one {
  width: 20%;
  background-color: #890101;
}


.create-button-one {
  width: 40%;
}

.create-switch {
  background-image: linear-gradient(to bottom, #880000 , #EE7A3A);
  color: white;
  width: 20%
}

.username-label,
.password-label {
  font-weight: 600;
}

.username-input,
.password-input,
.login-button-one,
.create-button-one {
  border-radius: 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

html,
body,
#root,
.login-parent,
.login-container,
.create-switch {
  height: 100%;
}

.login-container,
.create-switch,
.login-form,
form {
  flex-direction: column;
}

.login-container,
.create-switch {
  align-items: center;
}


.create-switch h3 {
  padding-top: 70px;
  padding-bottom: 80px;
}

.create-button-one {
  background-color: white;
}

.create-switch h6 {
  padding-bottom: 360px;
  padding-left: 0px;
  padding-right: 0px;
  width: 70%;
  margin: auto;
}

.login-container {
  width: 80%;
  background-image: url("../../../public/images/BackgroundSignin.jpg");
  background-size: cover;
}

.login-container h1 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.create-text h3,
.create-text h6 {
  text-align: center;
}

.create-button-one,
.login-button-one {
  height: 50px;
}