@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-container,
.login-parent,
.create-switch,
.login-form,
form {
  display: flex;
  font-family: 'Outfit', sans-serif;
}

.login-parent {
  flex-direction: row;
}

.create-switch a {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}

.create-switch a:visited {
  text-decoration: none;
}

.username,
.password {
  width: 100%;
}

.password {
  margin-top: 24px;
}

.login-button-one {
  padding: 0px 40px;
  background-color: #890101;
}

.create-button-one {
  padding: 0px 40px;
}

.create-switch {
  background-image: linear-gradient(to bottom, #880000 , #EE7A3A);
  color: white;
  width: 30%;
}

.username-label,
.password-label {
  font-weight: 600;
  margin: 0px 0px 4px 0px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

h1 {
  margin-bottom: 20px;
  color: #890101;
  font-weight: 700;
}

.login-button-one,
.create-button-one {
  border-radius: 100px;
  margin-top: 40px;
}

.create-switch {
  justify-content: center;
}


html,
body,
#root,
.login-parent,
.login-container,
.create-switch {
  height: calc(100vh - 58px);
}

.login-container,
.create-switch,
.login-form,
form {
  flex-direction: column;
}

.login-container,
.create-switch {
  align-items: center;
}

.create-switch h3 {
  padding-bottom: 40px;
}

.create-button-one {
  background-color: white;
}

.create-switch h6 {
  padding: 0px;
  width: 70%;
  margin: auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  background-image: url("../../../public/images/BackgroundSignin.jpg");
  background-size: cover;
}

.create-text h3,
.create-text h6,
.create-switch h3 {
  text-align: center;
}

.create-button-one,
.login-button-one {
  height: 50px;
}

.card {
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.50);
  border: none;
  width: 450px;
}