@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

* {
  font-family: 'Outfit', sans-serif;
}

.nav-bar,
.nav-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-logo {
  width: 30%;
  padding-left: 2%;
}

.nav-options {
  padding: 10px 10px 10px 10px;
}

.nav-bar h1 {
  color: white;
  margin-bottom: 0;
}

.nav-bar h1,
.nav-options {
  width: 100%;
}

.nav-options {
  justify-content: flex-end;
}

.nav-clubs {
  color: white;
  text-decoration: underline;
}

.nav-login {
  border-radius: 100px;
  height: 70%;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);;
}

.nav-bar {
  background-image: linear-gradient(to right, #8A0201 , #EF6464);
}