.str-chat.str-chat-channel.messaging.light {
  height: calc(100vh - 60px);
}
.str-chat.str-chat-channel-list.messaging.light {
  height: calc(100vh - 60px);
}

.str-chat__main-panel {
  border-radius: 40px;
  background-color: red;
  padding: 0px !important;
}